.btnred{
    background-color: red;
    margin: 5px;
}

.btngreen{
    /* background-color: green; */
    margin: 5px;
}

.section{
    padding: 10px
}

.upload-select{
    height: 65vh;
    background-color: whitesmoke
}

#run-button{
    width: 25%;
}


#menu{
    padding: 15px;
    /* background-color: lightgrey */
}
#cache-check{
    margin: 5px;
}
body {
    background-color: grey
}
