.collection-section{
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

.modules-section{
    
    border-radius: 4px;
}

#data-select{
    height: 60vh;
}

#collection-buttons{
}

#feature-extract-select{
    height: 30vh;
}

#scoring-exclusion-select{
    height: 30vh;
}

.btnred{
    background-color: red;
}

#classifier-select{
    height: 30vh;
}

#alt-data-select{
    height: 30vh;
}

#menu{
    margin: 0px;
}